:root {
  --color-main-light: #e1bee7;
  --color-main-dark: purple;
  --color-disabled: #ccc;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 5em auto 4em;
  min-height: 100vh;
  margin: auto;
}

.sidebar-grid {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  justify-self: center;
  max-width: 400px;
}

main {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  max-width: 800px;
}

header {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  border-bottom: solid var(--color-main-dark) 1px;
}

footer {
  grid-column: 1 / 3;
  grid-row: 3 / 4;
  border-top: solid var(--color-main-dark) 1px;
}

header, footer {
  background: #333;
  color: #aaa;
  padding: 1em;
  text-align: center;
  font-weight: 100;
  letter-spacing: .2em;
}

.input-search {
  display: block;
  height: 3em;
  width: 20em;
  margin: 3em auto 4em;
  text-transform: uppercase;
}

.input-search,
.input-shortcut {
  border: none;
  border-bottom: solid 3px var(--color-disabled);
  text-align: center;
}

.input-shortcut {
  border-bottom: solid 2px var(--color-disabled);
  padding: .5em;
}

.input-search:focus,
.input-shortcut:focus {
  outline: 0;
  border-bottom-color: var(--color-main-light);
}

::-webkit-input-placeholder {
  color: #bbb;
  text-transform: uppercase;
  ;
}

table {
  border-collapse: collapse;
  margin: 0 auto 5em;
  width: 80%;
}

th {

  text-align: left;
  background: #fff;
  font-weight: 600;
}

tr {
  border-bottom-color: var(--color-main-light);
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

tr:nth-child(odd) {
  background: #ececec;
}

th, td {
  padding: 1em;
}

.cell-key {
  font-family: monospace;
  color: #000;
}

.cell-desc {
  font-family: 'helvetica neue';
  font-size: .8em;
}

.cell-desc::before {
  content: '';
  width: 5px;
  height: 5px;
  display: inline-block;
  background: currentColor;
  border-radius: 50%;
  margin-right: 1.5em;
}

.cell-desc-text {
  color: #4a3226;
}

.section-tags {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.label-tags {
  font-family: monospace;
  display: inline-block;
  margin: 0.8em 1em;
}

.label-tags::before {
  content: '+';
  color: var(--color-main-light);;
  margin-right: .3em;
}

input[type=checkbox] {
  clip: rect(0, 0, 0, 0);
  position: absolute;
}

.form-shortcut {
  display: flex;
  flex-direction: column;
  flex-basis: 30%;
  margin-bottom: 1em;
  margin-top: 9em;
}

.form-shortcut button {
  background: #fff;
  border: solid var(--color-main-light) 1px;
  color: var(--color-main-light);
  width: 10em;
  padding: 0.8em;
  margin: 1em auto;
}

input[type=checkbox]:checked + .label-tags::before {
  content: 'x';
  color: currentColor;
}

.form-shortcut button:hover,
.label-tags:hover::before,
input[type=checkbox] + .label-tags:hover span,
input[type=checkbox]:checked + .label-tags span {
  color: var(--color-main-dark);
}

input[type=checkbox] + .label-tags span,
input[type=checkbox]:checked + .label-tags span:hover,
input[type=checkbox]:checked + .label-tags:hover::before {
  color: var(--color-disabled);
}
